{% extends 'base.html.twig' %}

{% block title %}Hello ContratController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row" style="width: 100%;margin: auto;">

			<p>CONTRAT DE PARTENARIAT COMMERCIAL POUR <strong>{{ partenaire.getUsers()[0].firstname | upper }}</strong><br />Ce contrat est fait ce jour <strong>{{ today }}</strong> en conforme copies originales, entre</p>
<p><br />(1)&nbsp; WARI<br />(2) 2021 -@- 202119</p>
<p><br /><strong>1. NOM DU PARTENARIAT ET ACTIVITE</strong><br />1.1 <span style="text-decoration: underline;">Nature des activit&eacute;s</span> : Le Partenaires cit&eacute; 2021 donne son accord d'&ecirc;tre consid&eacute;r&eacute;s comme partenaire commerciaux.</p>
<table style="border-collapse: collapse; width: 100%; height: 36px;" border="1">
<tbody>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">Nom complet Partenaire</td>
<td style="width: 50%; height: 18px;">{{ partenaire.getUsers()[0].firstname }} {{ partenaire.getUsers()[0].lastname }}</td>
</tr>
<tr>
<td style="width: 50%;">Email</td>
<td style="width: 50%;">{{ partenaire.getUsers()[0].email }}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 50%; height: 18px;">T&eacute;l&eacute;phone</td>
<td style="width: 50%; height: 18px;">{{ partenaire.getUsers()[0].telephone }}</td>
</tr>
<tr>
<td style="width: 50%;">Ninea</td>
<td style="width: 50%;">{{ partenaire.getNinea() }}</td>
</tr>
<tr>
<td style="width: 50%;">RC</td>
<td style="width: 50%;">{{ partenaire.getRc }}</td>
</tr>
</tbody>
</table>
<p><br />1.2 <span style="text-decoration: underline;">Nom</span> : Les Partenaires cit&eacute;s ci-dessus donnent leur accord, pour que le partenariat commercial soit exerc&eacute; sous le nom</p>
<p><strong>wari @ nom partenaire</strong></p>
<p>1.3 <span style="text-decoration: underline;">Adresse officielle</span> : Les Partenaires cit&eacute;s ci-dessus donnent leur accord pour que le si&egrave;ge du partenariat commercial soit:<br /><br /></p>
<p><strong>wari @ adresse parteniare</strong></p>
<p><br /><strong>2. TERMES</strong><br />2.1 Le partenariat commence le <strong>date d&eacute;but</strong> et continue jusqu'&agrave; la fin de cet<br />accord.</p>
<p><br /><strong>3. CONTRIBUTION AU PARTENARIAT</strong><br />3.1 La contribution de chaque partenaire au capital list&eacute;e ci-dessous se compose des &eacute;l&eacute;ments suivants :<br />(1) ________________________________________________________________________________<br />_______________________________________________________________________________________<br />______________________________________________________________________<br />(2) ________________________________________________________________________________<br />________________________________________________________________________________________<br />_____________________________________________________________________<br />(3) _________________________________________________________________________________<br />________________________________________________________________________________________<br />___________________________________________________________________</p>
<p><br /><strong>4. R&Eacute;PARTITION DES B&Eacute;N&Eacute;FICES ET DES PERTES</strong><br />4.1 Les Partenaires se partageront les profits et les pertes du partenariat commercial de la mani&egrave;re suivante :<br />_________________________________________________________________________________________<br />_____________________________________________________________________________________________<br />__________________________________________________________________________________________________________________________________________________________________________________________<br />_____________________________________________________________________________________________<br />____________________________________________________________</p>
<p><br />5. PARTENAIRES ADDITIONNELS<br />5.1 Aucune personne ne peut &ecirc;tre ajout&eacute;e en tant que partenaire et aucune autre autre activit&eacute; ne<br />peut &ecirc;tre men&eacute;e par le partenariat sans le consentement &eacute;crit de tous les partenaires.</p>
<p><br />6.MODALIT&Eacute;S BANCAIRES ET TERMES FINANCIERS<br />6.1 Les Partenaires doivent avoir un compte bancaire au nom du partenariat sur lequel les ch&egrave;ques<br />doivent &ecirc;tre sign&eacute;s par au moins ___________________ des Partenaires.</p>
<p><br />6.2 Les Partenaires doivent tenir une comptabilit&eacute; compl&egrave;te du partenariat et la rendre disponible<br />&agrave; tous les Partenaires &agrave; tout moment.</p>
<p><br />7. GESTION DES ACTIVIT&Eacute;S DE PARTENARIAT<br />7.1 Chaque partenaire peut prendre part dans la gestion du partenariat.</p>
<p><br />7.2 Tout d&eacute;saccord qui intervient dans l'exploitation du partenariat, sera r&eacute;gl&eacute; par les partenaires d&eacute;tenant la majorit&eacute; des parts du partenariat.</p>
<p><br />8. D&Eacute;PART D'UN PARTENAIRE COMMERCIAL<br />8.1 Si un partenaire se retire du partenariat commercial pour une raison quelconque, y compris le d&eacute;c&egrave;s, les autres partenaires peuvent continuer &agrave; exploiter le partenariat sous le m&ecirc;me nom.</p>
<p><br />8.2 Le partenaire qui se retire est tenu de donner un pr&eacute;avis &eacute;crit d'au moins soixante (60) jours de son intention de se retirer et est tenu de vendre ses parts du partenariat commercial.</p>
<p><br />8.3 Aucun partenaire ne doit c&eacute;der ses actions dans le partenariat commercial &agrave; une autre partie sans le consentement &eacute;crit des autres partenaires.</p>
<p><br />8.4 Le ou les partenaires restants paieront au partenaire qui se retire, ou au repr&eacute;sentant l&eacute;gal du partenaire d&eacute;c&eacute;d&eacute; ou handicap&eacute;, la valeur de ses parts dans le partenariat, ou (a) la somme de son capital, (b) des emprunts impay&eacute;s qui lui sont dus, c) sa quote-part des b&eacute;n&eacute;fices nets cumul&eacute;s non distribu&eacute;s dans son compte, et (d) son int&eacute;r&ecirc;t dans toute plus-value pr&eacute;alablement convenue de la valeur du partenariat par rapport &agrave; sa valeur comptable. Aucune valeur de bonne volont&eacute; ne doit &ecirc;tre incluse dans la d&eacute;termination de la valeur des parts du partenaire.</p>
<p><br />9. CLAUSE DE NON CONCURRENCE<br />9.1 Un partenaire qui se retire du partenariat ne doit pas s'engager directement ou indirectement<br />dans une entreprise qui est ou serait en concurrence avec la nature des activit&eacute;s actuelles ou<br />futures du partenariat pendant ___________________.</p>
<p><br />10. MODIFICATION DE L&rsquo;ACCORD DE PARTENARIAT<br />10. 1 Ce contrat de partenariat commercial ne peut &ecirc;tre modifi&eacute; sans le consentement &eacute;crit de<br />tous les partenaires.</p>
</div></div>{% endblock %}
